/* Header Start */
.panel {
  height: 100%;
  width: 100%;
}

.header {
  color: #bdc1c6;
  font-style: arial;
  display: block;
  padding: 4px;
  margin-top: 0;
  min-width: auto;       /* genişliği minimum düzeyde otomatik ayarlar */
  height: 48px;
  list-style-type: none; /* list item point remove */
  flex-grow: 1;
  font-family: arial,sans-serif;
  font-size: 14px;
}

.img-b {
  padding-top: 0px;
  background-size: 32px 32px;
  box-sizing: border-box;
  outline: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.svg-size svg {
  font: 13px/27px Roboto,Arial,sans-serif;
  background-color: #fff;
  display: block;
  float: right;
  padding-top: 0;
  width: 25px;
  height: 30px;
}

.headerli a {
  width: 33px;
  height: 32px;
  float: right;
  color: black;
  text-align: center;
  text-decoration: none; /* linklerdeki alt çizgi içeriği kaldırmak */
  overflow: hidden; /* içeriğin alana sığma durumunu kontrol eder.*/
  padding: 5px 15px;
}

.headerli a:hover {
  text-decoration: underline;
}

/* Container Start */

.container {
  margin: 100px;
  text-align: center; 
}

.google-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
}

.search-area {
  background: #fff; 
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: none;
  z-index: 3;
  width: 480px;
  height: 44px;
  margin: auto;
  margin-top: -77px;
}

.search-area:hover {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.search {
  width: 450px;
  height: 44px;
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 18px; 
}

.search-img {
  display: inline-flex; 
  flex-direction: row;
  float: left;
  align-items: center;
  padding-right: 10px; 
  margin-top: -7px; 
  line-height: 20px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px;
  height: 34px;
  display: none;
}

.input {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid #dfe1e5;
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: auto;
  cursor: text; 
}

.voice-img {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 5px 8px;
  width: 24px;
  line-height: 44px;
  align-items: center;
}

.photo-img {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 5px 8px;
  width: 24px;
  line-height: 44px;
}

.googlesearch {
  background-color: #f2f2f2;
  font-style: arial;
  color: #5f6368;
  border: 1px solid;
  border-radius: 4px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-style: none;
  user-select: none;
}

.googlesearch:hover {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.feelinglucky {
  background-color: #f2f2f2;
  font-style: arial;
  color: #5f6368;
  border: 1px solid;
  border-radius: 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-style: none;
  user-select: none;
}

.feelinglucky:hover {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.buttons {
  text-align: center;
}

.footer {
  background-color: #f2f2f2 ;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed; /* imleç ile birlikte hareket eder.  */
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  line-height: 1px; 
}

.footerli {
  float: left;  
}

.footerli a {
  width: -3%;
  display: block;
  flex-wrap: wrap;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}

.footerli a:hover {
  text-decoration: underline;  
}
